# ======================
# Java / Spring Boot
# ======================
.vscode/
target/
*.log
*.class
*.jar
*.war
*.ear
*.iml
.mvn/
.mvn/wrapper/maven-wrapper.jar

# STS / Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/

# ======================
# Node / React
# ======================
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Misc
# ======================
*.swp
*.tmp
